# React
frontend/node_modules/
frontend/dist/

# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc

# Environment / Secrets
backend/.env
.env

# Django
backend/media/

# VS Code
.vscode/